<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ATTENTION;[LAST NAME] [SUFFIX]’s, [FIRST NAME] [MIDDLE NAME] SAC Expiring on [SAC EXPIRATION DATE]</title>
</head>
<body>
    <b>Processed FileName(s): [FileName]</b>
    <br />
    <b>Contractor File</b>
    <br />
    File Names: <b>[FILENAMES]</b>
    AccessingDate: <b>[ACCESSINGDATE]</b><br />
    Contractor Expiring Records: <b>[NUMBEROFRECORDS]</b><br />
    Time Begin: <b>[TIMEBEGIN]</b><br />
    End Time: <b>[ENDTIME]</b><br />
    Accessing Time: <b>[ACCESSINGTIME]</b>
    <br />
    [IFContractorERRORS]
    <br />
</body>-->
</html>-->

  