<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ATTENTION;[LAST NAME] [SUFFIX]’s, [FirstName] [MiddleName] SAC Expiring on [SAC EXPIRATION DATE]</title>
</head>
<body>
    <br />
    <span style="font-family: Arial; font-size: 12pt">
        Dear <b>{FileNames}</b>
        <br />
        The Special Agreement Check (SAC) for [FirstName] [MiddleName] [LastName] [Suffix]’s
        will expire in [DaysToExpiration] days on[SAC Expiration DATE].
        If the contractor’s support on a GSA contract is needed beyond the SAC expiration date,
        the individual will need to complete a new background investigation before this date. 
        Otherwise, please remove the contractor from the contract after this date.
        <br />
        <br />
        <a style="color: #000000" href="{Url}">{Title}</a><br />
        {Description}
        <br />
        <br />
        Regards,
        <br />
        HSPD-12 Security
    </span>
</body>
</html>