<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
</title>
</head>
<body>
   <p> <b>ATTENTION:</b> [LASTNAME] [SUFFIX], [FIRST NAME] [MIDDLE NAME] SAC Expiration [CURRENT DATE] </p>

    <h1>Hello,</h1>
   
    <p>This email is to inform you that the Special Agreement Check (SAC) granted on [pers_investigation_date] for
     [FIRSTNAME] [MIDDLENAME] [LASTNAME] [SUFFIX] expires today. Please ensure
    the individual is no longer working on a GSA contract after today.</p>

    <p>If the contractor’s support on a GSA contract is needed beyond the SAC expiration date,
    the individual will need to complete a new background investigation. Do not allow
    them to continue work until another favorable determination has been provided.</p>
    
    <p>Thank you,</p>

    <p>HSPD-12 Security</p>

</body>
</html>