<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SummarySubject = "ATTENTION;[LAST NAME] [SUFFIX]’s, [FirstName] [MiddleName] SAC Expiring on [SAC EXPIRATION DATE]";</title>
</head>
<body>
    <br />
        <h1> Dear {LastName}</h1>
        <br />
        <p>The Special Agreement Check (SAC) for [FirstName] [MiddleName] [LastName] [Suffix]’s
        will expire in [DaysToExpiration] days on[SAC Expiration DATE].
        If the contractor’s support on a GSA contract is needed beyond the SAC expiration date,
        the individual will need to complete a new background investigation before this date.
        Otherwise, please remove the contractor from the contract after this date.</p>
        <br />
        <br /> 
       <p> Regards,</p>
        <br />
       <p> HSPD-12 Security</p>
    
</body>
</html>