<!--<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Monster File Summary</title>
</head>
<body>
    <b>Processed FileName(s): [FileNames]</b>
    <br />
    <b>Monster File</b>
    <br />
    Total Attempted: <b>[MonsterAttempted]</b><br />
    Total Succeeded: <b>[MonsterSucceeded]</b><br />
    Total Inactive: <b>[MonsterInactive]</b><br />
    Total Identical: <b>[MonsterIdentical]</b><br />
    Total Not Found: <b>[MonsterRecords]</b><br />
    Total Faild: <b>[MonsterFailed]</b>
    <br />
    [IFMonsterERRORS]
    <br />
</body>-->
<!--</html>-->