<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
   
    <p> 
        <b>Processing Records for: </b>[ACCESSINGDATE]<br />
        <b>Expiring Number Of Records: </b> [ExpiringNUMBEROFRECORDS]<br />
        <b>Expired Number Of Records: </b> [ExpiredNUMBEROFRECORDS]<br />
        <b>Start Time for SRS:</b> [TIMEBEGIN]<br />
        <b>End Time for SRS:</b> [ENDTIME]<br />
        <b>Time Elapsed for SRS (in Milliseconds):</b> [ACCESSINGTIME]<br />
        <br />
        See Attached SRS Summary Report 
   </p>
</body>
</html>

  