<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
   
    <p> 
        <b>Accessing Date: </b>[ACCESSINGDATE]<br />
        <b>Total Contractors Processed: </b> [NUMBEROFRECORDS]<br />
        <b>Time Begin:</b> [TIMEBEGIN]<br />
        <b>End Time:</b> [ENDTIME]<br />
        <b>Time Elapsed (in Milliseconds):</b> [ACCESSINGTIME]<br />
        <br />
        See Attached SRS Summary Report
        
   </p>
</body>
</html>

  