<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ATTENTION;[LAST NAME] [SUFFIX]’s, [FIRST NAME] [MIDDLE NAME] SAC Expiring on [SAC EXPIRATION DATE]</title>
</head>
<body>
    <p>
        <b>File Names: </b>[FILENAME]<br />
        <b>AccessingDate: </b>[ACCESSINGDATE]<br />
        <b>Contractor Expiring Records: </b> [NUMBEROFRECORDS]<br />
        <b>Time Begin:</b> [TIMEBEGIN]<br />
        <b>End Time:</b> [ENDTIME]<br />
        <b>Time Elapsed (in Milliseconds):</b> [ACCESSINGTIME]<br />
        <br />
        <br />
   </p>
</body>
</html>

  