  <appSettings>
    <add key="DEBUG" value="[TRUE/FALSE]" />
    <add key="ExpiringContractorProcessing" value="[TRUE/FALSE]" />
    <add key="ExpiredContractorProcessing" value="[TRUE/FALSE]" />
    <add key="SMTPServer" value="" />
    <add key="Subject" value="" />
    <add key="DefaultEmail" value="[email]" />
    <add key="Bcc" value="[email]" />
    <add key="SummarySubject" value="" />
    <add key="TO" value="[email]" />
    <add key="CC" value="[email]" />
    <add key="BCC" value="[email]" />
    <add key="SummaryFilePath" value="[path]" />
    <add key="SummaryTemplate" value="[FileName]" />
    <add key="ContractorFilePath" value="[path]" />
    <add key="SummaryEmailTemplate" value="[path]" />
    <add key="SuccessfullSummaryFilename" value="[FileName]" />
    <add key="ErrorSummaryFilename" value="[FileName]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 