<appSettings>
  <add key="DEBUG" value="TRUE" />
  <add key="ExpiringContractor" value="TRUE" />
  <add key="ExpiredContractor" value="TRUE" />
  <add key="SMTPServer" value="smtp.gsa.gov" />
  <add key="Subject" value="SRS Reminder" />
  <add key="DefaultEmail" value=" " />
  <add key="Bcc" value="" />
  <add key="SummarySubject" value="SRS Summary" />
  <add key="TO" value=" " />
  <add key="CC" value="" />
  <add key="BCC" value="" />
  <add key="SUMMARYFILEPATH" value=" " />
  <add key="SummaryAttachment" value="" />
  <add key="Summary" value=" " />
  <add key="Summary" value="Summary.html" />
  <add key="ExpiringSACFilePath" value=" " />
  <add key="ExpiringSACEmailTemplate" value="ExpiringSAC.html" />
  <add key="ExpiredSACFilePath" value=" "/>
  <add key="ExpiredSACEmailTemplate" value="ExpiredSAC.html" />
  <add key="ExpiringSUCCESSFULSUMMARYFILENAME" value="ExpiringSuccessProcessed" />
  <add key="ExpiringERRORSUMMARYFILENAME" value="ExpiringUnsuccessProcessed" />
  <add key="ExpiredSUCCESSFULSUMMARYFILENAME" value="ExpiredSuccessProcessed" />
  <add key="ExpiredERRORSUMMARYFILENAME" value="ExpiredUnsuccessProcessed" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>