<connectionStrings>
  <add name="hspd" connectionString="Server=[]; Port=[port]; user id=[aeshetie]; password=[];persist security info=True;database=hspd; pooling=true;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>