<connectionStrings>
<add name="hspd" connectionString="Server=E04TCM-GCIMS01; Port=3306; user id= ; password= ;persist security info=True;database=hspd; pooling=true;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>