<connectionStrings>
    <add name="[hspd]" connectionString="Server=[IP Address]; Port=[port]; user id=[username]; password=[password];persist security info=True;database=hspd; pooling=true;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>